@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
    background-image: url("../Images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

@media(max-width: 576px){
    #hero {
    background-image: url("../Images/mobile/image-hero.jpg");
    background-position: center;
}
}